table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}
