<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Execution Results</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Test Execution Results</h2>

<table>
    <tr>
        <th>Log ID</th>
        <th>Test Case ID</th>
        <th>Status</th>
        <th>Message</th>
        <th>Executed At</th>
    </tr>

    <tr th:each="log : ${logs}">
        <td th:text="${log.id}"></td>
        <td th:text="${log.testCaseId}"></td>
        <td th:text="${log.status}"
            th:classappend="${log.status == 'PASS'} ? 'pass' : 'fail'">
        </td>
        <td th:text="${log.message}"></td>
        <td th:text="${log.executedAt}"></td>
    </tr>
</table>

<br>
<a href="/ui/dashboard">⬅ Back to Dashboard</a>

</body>
</html>
